<header class='site-header'>
  <div class='site-header-item'>
    <a class='site-header-logo' href='/'>
      <img src='/static/logo.png' alt='logo' />
      <span>Free WebBoard</span>
    </a>
  </div>
  <div class='site-header-item'>
    <a class='button button-outlined' href='/t/new'>New Topic</a>
  </div>
</header>