<html lang='en'>
  {{> baseHead customTitle='New Question | '}}
  <body>
    {{> siteHeader}}
    <div>
      <h2>New Question</h2>
      <p>ask me anything...</p>
    </div>
    {{> siteFooter}}
  </body>
</html>