<html lang='en'>
  {{> baseHead customTitle=customTitle}}
  <body>
    {{> siteHeader}}
    {{#if oneQuestion}}
      <div style="background-color: rgb(241, 209, 209)">
        <h2>{{oneQuestion.title}}</h2>
        <p>
          <span>{{oneQuestion.from}} | </span>
          <span>{{oneQuestion.createdAtText}}</span>
        </p>
      </div>
    {{else}}
      <p>Question not found...</p>
    {{/if}}
    {{> siteFooter}}
  </body>
</html>