<html lang='en'>
  {{> baseHead customTitle='Cute <3 | '}}
  <body>
    {{> siteHeader}}
    <div>
      <h2>How do you do..</h2>
      <p>Love me, love my dogs</p>
    </div>
    {{> siteFooter}}
  </body>
</html>