<html lang='en'>
  {{> baseHead customTitle='New Topic | '}}
  <body>
    {{> siteHeader}}
      <section class="section">
        <div class="container">
          <h2>Add a new topic</h2>
          <p class="mg-bt-large">Let's do some fun stuff :)</p>
          <form action="/t/new" method="post">
            <p>
              <input type="text" name="title" placeholder="Title" value="{{values.title}}">
            </p>
            <p>
              <textarea name="content" placeholder="Content" rows="3">{{values.content}}</textarea>
            </p>
            <p>
              <input type="text" name="from" placeholder="From" value="{{values.from}}">
            </p>
            <p>
              <input id="input-accepted" type="checkbox" name="accepted">
              <label for="input-accepted">You don't need to read the term, only accept that</label>
            </p>
            <p>
              <button class="button" type="submit">Create new topic</button>
            </p>
            {{#if errorMessage}}
              <p>{{errorMessage}}</p>
            {{/if}}
          </form>
        </div>
      </section>
    {{> siteFooter}}
  </body>
</html>