<html lang='en'>
  {{> baseHead customTitle=customTitle}}
  <body>
    {{> siteHeader}}
    {{#if oneTopic}}
      <div style="background-color: rgb(241, 209, 209)">
        <h2>{{oneTopic.title}}</h2>
        <p>
          <span>{{oneTopic.from}} | </span>
          <span>{{oneTopic.createdAtText}}</span>
        </p>
      </div>
    {{else}}
      <p>Topic not found...</p>
    {{/if}}
    {{> siteFooter}}
  </body>
</html>