<html lang='en'>
  {{> baseHead customTitle='New Topic | '}}
  <body>
    {{> siteHeader}}
    <div>
      <h2>New Topic</h2>
      <p>Add a topic...</p>
    </div>
    {{> siteFooter}}
  </body>
</html>