<html lang='en'>
  {{> baseHead customTitle='Successful! | '}}
  <body>
    {{> siteHeader}}
      <section class="section">
        <div class="container">
          <h2>Succesfully added topic</h2>
          <p>Your topic will be appeared at the home page. Check it out!</p>
          <a class="button" href="/">Return to Homepage</a>
        </div>
      </section>
    {{> siteFooter}}
  </body>
</html>