<html lang='en'>
  {{> baseHead customTitle='Successful! | '}}
  <body>
    {{> siteHeader}}
    <div>
      <h2>Succesfully added topic</h2>
      <p>Your topic will be appeared at the home page. Check it out!</p>
      <a href="/">Return to Homepage</a>
    </div>
    {{> siteFooter}}
  </body>
</html>